<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.ChatMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.youai.xiuzhen.stat.entity.ChatMessage">
        <id column="id" property="id"/>
        <result column="player_id" property="playerId"/>
        <result column="message" property="message"/>
        <result column="channel" property="channel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryForList" resultMap="BaseResultMap">
        SELECT
        cm.id,
        cm.player_id,
        cm.message,
        cm.channel,
        cm.create_time,
        cm.update_time,
        p.nickname p_nickname
        FROM
        chat_message cm
        LEFT JOIN player p ON cm.player_id = p.id
        WHERE
        <if test="playerId !=null ">
            cm.player_id = #{playerId}
        </if>
        <if test="nickname !=null ">
            AND p.nickname LIKE CONCAT('%',#{nickname},'%')
        </if>
        <if test="rangeTimeBeginDate !=null ">
            AND cm.create_time >= #{rangeTimeBeginDate}
        </if>
        <if test="rangeTimeEndDate !=null ">
            AND cm.create_time &lt;= #{rangeTimeEndDate}
        </if>
        <if test="message !=null ">
            AND cm.message LIKE CONCAT('%',#{message},'%')
        </if>
    </select>

    <select id="queryGameMessageList" resultType="cn.youai.xiuzhen.stat.entity.ChatMessageVO">
        SELECT
        cm.id,
        cm.server_id as serverId,
        cm.sender_id as sendPlayerId,
        cm.receiver_id as receivePlayerId,
        cm.msg_content as message,
        cm.create_time as messageTime
        FROM
        `game_chat`.chat_message cm
        WHERE
            cm.chat_type = 4
            AND cm.msg_type = 1
        <if test="serverId !=null ">
            AND cm.server_id = #{serverId}
        </if>
        <if test="playerId !=null ">
            AND cm.sender_id = #{playerId}
        </if>
        <if test="rangeTimeBeginDate !=null ">
            AND cm.create_time >= #{rangeTimeBeginDate}
        </if>
        <if test="rangeTimeEndDate !=null ">
            AND cm.create_time &lt;= #{rangeTimeEndDate}
        </if>
        <if test="message !=null ">
            AND cm.msg_content LIKE CONCAT('%',#{message},'%')
        </if>
    </select>

</mapper>