<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameVpsMapper">

    <select id="queryList" resultType="cn.youai.xiuzhen.game.entity.GameVps">
        SELECT
        v.*,
        (SELECT COUNT(*) FROM `game_server` s WHERE v.`ip` = s.`host` AND s.`outdated` = 0) AS game_server_num,
        (SELECT GROUP_CONCAT(s.`id`) FROM `game_server` s WHERE v.`ip` = s.`host` AND s.`outdated` = 0) AS
        game_server_ids,
        (SELECT COUNT(*) FROM `game_server_group` g WHERE v.`ip` = g.`host`) AS cross_server_num,
        (SELECT GROUP_CONCAT(g.`id`) FROM `game_server_group` g WHERE v.`ip` = g.`host`) AS cross_server_ids,
        s.`PLATFORM` AS `platform`,
        s.`TOTAL_MEM` AS `total_mem`,
        s.`CPU_CORE_NUM` AS `cpu_core_num`,
        s.`CPU_PER` AS `cpu_per`,
        s.`MEM_PER` AS `mem_per`,
        s.`FIVE_LOAD` AS `five_load`,
        s.`FIFTEEN_LOAD` AS `fifteen_load`,
        s.`BOOT_TIME` AS `boot_time`,
        s.`CREATE_TIME` AS `upload_time`,
        (SELECT GROUP_CONCAT(CONCAT_WS(':', d.`FILE_STSTEM`, d.`DISK_SIZE`, d.`USED`, d.`AVAIL`)) FROM
        `wgcloud`.`disk_state` d
        INNER JOIN (
        SELECT d.`HOST_NAME`, d.`FILE_STSTEM`, MAX(d.`id`) AS `id`, MAX(`CREATE_TIME`) AS `CREATE_TIME` FROM
        `wgcloud`.`disk_state` d
        WHERE d.`FILE_STSTEM` NOT LIKE '/boot%' AND d.`FILE_STSTEM` NOT LIKE '/snap%'
        GROUP BY `HOST_NAME`, `FILE_STSTEM`) AS b
        ON d.`id`= b.`id` WHERE s.`HOST_NAME` = d.`HOST_NAME`
        ) AS `disk_usage`
        FROM `game_vps` v
        LEFT JOIN `wgcloud`.`system_info` s ON v.`hostname` = s.`HOST_NAME_EXT`
        <where>
            <if test="entity != null">
                <if test="entity.name != null and entity.name != ''">
                    AND v.`name` LIKE CONCAT('%', #{entity.name}, '%')
                </if>
                <if test="entity.hostname != null and entity.hostname != ''">
                    AND v.`hostname` LIKE CONCAT('%', #{entity.hostname}, '%')
                </if>
                <if test="entity.ip != null and entity.ip != ''">
                    AND v.`ip` LIKE CONCAT('%', #{entity.ip}, '%')
                </if>
                <if test="entity.lan != null and entity.lan != ''">
                    AND v.`lan` LIKE CONCAT('%', #{entity.lan}, '%')
                </if>
                <if test="entity.os != null and entity.os != ''">
                    AND v.`os` LIKE CONCAT('%', #{entity.os}, '%')
                </if>
            </if>
            <if test="createTimeRange != null">
                <if test="null != createTimeRange.start">
                    <![CDATA[AND v.`create_time` >= #{createTimeRange.start}]]></if>
                <if test="null != createTimeRange.end"><![CDATA[AND v.`create_time` <= #{createTimeRange.end}]]></if>
            </if>
        </where>
        GROUP BY v.`hostname`
    </select>

</mapper>