<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameChannelServerMapper">

    <select id="selectServerListByChannelId" resultType="cn.youai.xiuzhen.game.entity.GameServerVO">
        SELECT a.*
        FROM `game_server` a
        INNER JOIN `game_channel_server` b ON a.`id` = b.`server_id`
        WHERE b.`channel_id` = #{channelId}
        AND b.`del_flag` = 0
        AND a.`outdated` = 0
        ORDER BY b.`position` DESC
    </select>

    <select id="selectChannelList" resultType="cn.youai.xiuzhen.game.entity.GameChannel">
        SELECT c.*
        FROM `game_channel` c
        <where>
            <if test="channel != null and channel != ''">
                c.`simple_name` IN
                <foreach item="item" index="index" collection="channel.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectSdkChannelList" resultType="cn.youai.xiuzhen.game.entity.GameSdkChannel">
        SELECT s.`name`, s.`channel`, s.`sdk_channel`
        FROM `game_sdk_channel` s
        INNER JOIN `game_channel` c ON s.`channel` = c.`simple_name`
        <where>
            <if test="channels != null and channels.size() > 0">
                c.`simple_name` IN
                <foreach item="item" collection="channels" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="sdkChannel != null and sdkChannel != ''">
                AND s.`sdk_channel` IN
                <foreach item="item" index="index" collection="sdkChannel.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY s.`channel`, s.`sdk_channel`
        ORDER BY s.`sdk_channel`
    </select>

    <select id="selectChannelServerList" resultType="cn.youai.xiuzhen.game.entity.GameServer">
        SELECT a.`id`, a.`name`, c.`simple_name` AS channel
        FROM `game_server` a
        INNER JOIN `game_channel_server` b ON a.`id` = b.`server_id`
        INNER JOIN `game_channel` c ON b.`channel_id` = c.`id`
        WHERE b.`del_flag` = 0
        <if test="channels != null and channels.size() > 0">
            AND c.`simple_name` IN
            <foreach item="item" collection="channels" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY a.`id`, c.`simple_name`
        ORDER BY b.`position` DESC
    </select>

    <select id="filterServerList" resultType="cn.youai.xiuzhen.game.entity.GameServerVO">
        SELECT a.*
        FROM `game_server` a
        INNER JOIN `game_channel_server` b ON a.`id` = b.`server_id`
        INNER JOIN `game_channel` c ON b.`channel_id` = c.`id`
        WHERE b.`del_flag` = 0
        <if test="null != channel and '' != channel">
            AND c.`simple_name` = #{channel}
        </if>
        AND a.`id` IN
        <foreach item="id" collection="serverIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY b.`position` DESC
    </select>

    <select id="selectServerListByChannel" resultType="cn.youai.xiuzhen.game.entity.GameServer">
        SELECT a.*
        FROM `game_server` a
        INNER JOIN `game_channel_server` b ON a.`id` = b.`server_id`
        INNER JOIN `game_channel` c ON b.`channel_id` = c.`id`
        WHERE b.`del_flag` = 0
        <if test="channel != null and channel != '' ">
            AND c.`simple_name` = #{channel}
        </if>
        <if test="serverId != null and serverId > 0">
            AND a.`id` = #{serverId}
        </if>
        ORDER BY b.`position` DESC
    </select>

</mapper>