<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameOrderMapper">

    <select id="serverRangeAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS payAmount
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE p.`server_id` = #{serverId}
        <if test="start != null"><![CDATA[ AND o.`create_date` >= DATE(#{start}) ]]></if>
        <if test="end != null "><![CDATA[ AND o.`create_date` <= DATE(#{end}) ]]></if>
    </select>

    <select id="channelRangeAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS payAmount
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        <where>
            <if test="channel != null and channel != ''"><![CDATA[ p.`channel` = #{channel} ]]></if>
            <if test="start != null"><![CDATA[ AND o.`create_date` >= DATE(#{start}) ]]></if>
            <if test="end != null "><![CDATA[ AND o.`create_date` <= DATE(#{end}) ]]></if>
        </where>
    </select>

    <select id="serverPayAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS payAmount
        FROM `game_order` o
        WHERE o.`server_id` = #{serverId}
          AND o.`create_date` = DATE(#{payDate});
    </select>

    <select id="chanelPayAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS payAmount
        FROM `game_order` o
        LEFT JOIN `game_player` b ON o.`player_id` = b.`player_id`
        WHERE b.`channel` = #{channel}
          AND o.`create_date` = DATE(#{payDate});
    </select>

    <select id="serverPayPlayerNum" resultType="int">
        SELECT COUNT(DISTINCT o.`player_id`) AS num
        FROM `game_order` o
        WHERE o.`server_id` = #{serverId}
          AND o.`create_date` = DATE(#{payDate});
    </select>

    <select id="channelPayPlayerNum" resultType="int">
        SELECT COUNT(DISTINCT o.`player_id`) AS num
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE p.`channel` = #{channel}
          AND o.`create_date` = DATE(#{payDate});
    </select>

    <!-- 充值统计 -->
    <select id="queryOrderStatByRange" resultType="cn.youai.xiuzhen.stat.entity.GameStatOrder">
        <![CDATA[
        SELECT #{serverNum} AS `server_num`,
        #{startDate} AS `start_date`,
        #{endDate} AS `end_date`,

        -- 活跃用户数
        (SELECT IFNULL(COUNT(DISTINCT(l.`player_id`)), 0)
        FROM `log_account` l
        LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`create_date` >= DATE(#{startDate})
        AND l.`create_date` <= DATE(#{endDate})
        AND l.`type` = 2
        AND p.`server_id` IN (#{serverIds})
        ) AS `active_num`,

        -- 付费用户数
        (SELECT IFNULL(COUNT(DISTINCT(o.`player_id`)), 0)
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE o.`create_date` >= DATE(#{startDate})
        AND o.`create_date` <= DATE(#{endDate})
        AND p.`server_id` IN (#{serverIds})
        ) AS `pay_num`,

        -- 付费金额
        (SELECT IFNULL(SUM(o.`pay_amount`), 0)
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE o.`create_date` >= DATE(#{startDate})
        AND o.`create_date` < DATE(#{endDate})
        AND p.`server_id` IN (#{serverIds})
        ) AS `pay_amount`;
        ]]>
    </select>

    <select id="getGameOrderRangeDate" resultType="cn.youai.xiuzhen.game.entity.MergeServerVO">
        select server_id as serverId, sum(pay_amount) as payAmount from game_order
        where order_status = 4
        <if test="null != startTime">and create_time &gt;= #{startTime}</if>
        <if test="null != endTime">and create_time &lt;= #{endTime}</if>
        group by server_id
    </select>

    <select id="queryServerStatRechargeGoodsSum" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeSum">
        <![CDATA[
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS `total_amount`,
        IFNULL(COUNT(o.`id`), 0) AS `total_num`,
        IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `total_player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_recharge_goods` g ON o.`product_id` = g.`goods_id`
        WHERE p.`server_id` = #{serverId}
        AND o.`create_date` >= DATE(#{startDate})
        AND o.`create_date` <= DATE(#{endDate})
        ]]>
        <if test="goodsGroup > 0">AND g.`goods_group` = #{goodsGroup}</if>
    </select>

    <select id="queryChannelStatRechargeGoodsSum" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeSum">
        <![CDATA[
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS `total_amount`,
               IFNULL(COUNT(o.`id`), 0) AS `total_num`,
               IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `total_player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_recharge_goods` g ON o.`product_id` = g.`goods_id`
        WHERE p.`channel` = #{channel}
        AND o.`create_date` >= DATE(#{startDate})
        AND o.`create_date` <= DATE(#{endDate})
        ]]>
        <if test="goodsGroup > 0">AND g.`goods_group` = #{goodsGroup}</if>
    </select>

    <select id="queryServerStatRechargeGoods" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeGoods">
        <![CDATA[
        SELECT o.`product_id` AS `product_id`,
               IFNULL(SUM(o.`pay_amount`), 0) AS `pay_amount`,
               IFNULL(COUNT(o.`id`), 0) AS `pay_num`,
               IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_recharge_goods` g ON o.`product_id` = g.`goods_id`
        WHERE p.`server_id` = #{serverId}
        AND o.`create_date` >= DATE(#{startDate})
        AND o.`create_date` <= DATE(#{endDate})
        ]]>
        <if test="goodsGroup > 0">AND g.`goods_group` = #{goodsGroup}</if>
        GROUP BY o.`product_id`
    </select>

    <select id="queryChannelStatRechargeGoods" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeGoods">
        <![CDATA[
        SELECT o.`product_id` AS `product_id`,
               IFNULL(SUM(o.`pay_amount`), 0) AS `pay_amount`,
               IFNULL(COUNT(o.`id`), 0) AS `pay_num`,
               IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_recharge_goods` g ON o.`product_id` = g.`goods_id`
        WHERE p.`channel` = #{channel}
        AND o.`create_date` >= DATE(#{startDate})
        AND o.`create_date` <= DATE(#{endDate})
        ]]>
        <if test="goodsGroup > 0">AND g.`goods_group` = #{goodsGroup}</if>
        GROUP BY o.`product_id`
    </select>

    <select id="queryRechargeRankList" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeRank">
        SELECT  o.`player_id`,
                p.`nickname`,
                p.`level`,
                p.`create_time`,
                p.`login_time` AS `last_login_time`,
                MAX(o.`create_time`) AS `last_pay_time`,
                IFNULL(SUM(o.`pay_amount`), 0) AS `pay_amount`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        <where>
            <if test="null != channel and '' != channel">p.`channel` = #{channel}</if>
            <if test="serverId > 0">AND p.`server_id` = #{serverId}</if>
            <if test="null != startDate"><![CDATA[AND o.`create_date` >= DATE(#{startDate})]]></if>
            <if test="null != endDate"><![CDATA[AND o.`create_date` <= DATE(#{endDate})]]></if>
        </where>
        GROUP BY o.`player_id`
        ORDER BY `pay_amount` DESC, o.`id` ASC
    </select>

</mapper>