<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.GameStatRemainMapper">

    <select id="queryServerRemain" resultType="cn.youai.xiuzhen.stat.entity.GameStatRemain">
    <![CDATA[
        SELECT @register_date := DATE(#{registerDate}) AS count_date,
            @serverId := #{serverId} AS server_id,
            @d_start := CONCAT(@register_date, ' 00:00:00'),
            @d_end := DATE_ADD(@d_start, INTERVAL 1 DAY),

            -- 注册数
            (SELECT COUNT(a.`player_id`) FROM
            `game_player` a WHERE a.`create_time` >= @d_start AND a.`create_time` < @d_end
            AND a.`server_id` = @serverId
            ) as register_num,

            -- 付费玩家数
            (SELECT COUNT(DISTINCT(o.`player_id`)) FROM `game_order` o
            LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
            WHERE p.`create_time` >= @d_start AND p.`create_time` < @d_end
            AND o.`pay_time` >= @d_start AND o.`pay_time` < @d_end
            AND o.`server_id` = @serverId
            ) AS pay_num,

            -- 付费次留
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
            LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`server_id` = @serverId
            AND l.`create_date` = DATE(@d_end)
            AND p.`create_time` >= @d_start
            AND p.`create_time` < @d_end
            AND EXISTS (SELECT * FROM `game_order` b WHERE l.`player_id` = b.`player_id`
            AND b.`pay_time` >= @d_start AND b.`pay_time` < @d_end
            AND b.`server_id` = @serverId)
            ) AS pay_remain,

            -- 免费留存
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
            LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`server_id` = @serverId
            AND l.`create_date` = DATE(@d_end)
            AND p.`create_time` >= @d_start
            AND p.`create_time` < @d_end
            AND NOT EXISTS (SELECT * FROM `game_order` b WHERE l.`player_id` = b.`player_id`
            AND b.`pay_time` >= @d_start AND b.`pay_time` < @d_end
            AND b.`server_id` = @serverId)
            ) AS free_remain,

            -- 总留存(注册留存)
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
            LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`server_id` = @serverId
            AND l.`create_date` = DATE(@d_end)
            AND p.`create_time` >= @d_start
            AND p.`create_time` < @d_end
            ) AS register_remain;
        ]]>
   </select>

    <select id="queryChannelRemain" resultType="cn.youai.xiuzhen.stat.entity.GameStatRemain">
    <![CDATA[
        SELECT @register_date := DATE(#{registerDate}) AS count_date,
            @channel := #{channel} AS channel,
            @d_start := CONCAT(@register_date, ' 00:00:00'),
            @d_end := DATE_ADD(@d_start, INTERVAL 1 DAY),

            -- 注册数
            (SELECT COUNT(a.`player_id`) FROM
            `game_player` a WHERE a.`create_time` >= @d_start AND a.`create_time` < @d_end
            AND a.`channel` = @channel
            ) as register_num,

            -- 付费玩家数
            (SELECT COUNT(DISTINCT(o.`player_id`)) FROM `game_order` o
            LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
            WHERE p.`create_time` >= @d_start AND p.`create_time` < @d_end
            AND o.`pay_time` >= @d_start AND o.`pay_time` < @d_end
            ) AS pay_num,

            -- 付费次留
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
            LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`channel` = @channel
            AND l.`create_date` = DATE(@d_end)
            AND p.`create_time` >= @d_start
            AND p.`create_time` < @d_end
            AND EXISTS (SELECT * FROM `game_order` b WHERE l.`player_id` = b.`player_id`
            AND b.`pay_time` >= @d_start AND b.`pay_time` < @d_end)
            ) AS pay_remain,

            -- 免费留存
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
            LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`channel` = @channel
            AND l.`create_date` = DATE(@d_end)
            AND p.`create_time` >= @d_start
            AND p.`create_time` < @d_end
            AND NOT EXISTS (SELECT * FROM `game_order` b WHERE l.`player_id` = b.`player_id`
            AND b.`pay_time` >= @d_start AND b.`pay_time` < @d_end)
            ) AS free_remain,

            -- 总留存(注册留存)
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
            LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`channel` = @channel
            AND l.`create_date` = DATE(@d_end)
            AND p.`create_time` >= @d_start
            AND p.`create_time` < @d_end
            ) AS register_remain;
        ]]>
   </select>

    <!-- 付费角色次留-->
    <select id="getServerPayRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
                 INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`server_id` = #{serverId}
          AND l.`create_date` = DATE(DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY))
          AND p.`create_time` >= DATE(#{registerDate})
          AND p.`create_time` < DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          AND EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`pay_time` >= DATE(#{registerDate})
              AND o.`pay_time` < DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          )
        ]]>
    </select>

    <select id="getChannelPayRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
                 INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`channel` = #{channel}
          AND l.`create_date` = DATE(DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY))
          AND p.`create_time` >= DATE(#{registerDate})
          AND p.`create_time` < DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          AND EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`pay_time` >= DATE(#{registerDate})
              AND o.`pay_time` < DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          )
        ]]>
    </select>

    <!-- 免费角色次留-->
    <select id="getServerFreeRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
                 INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`server_id` = #{serverId}
          AND l.`create_date` = DATE(DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY))
          AND p.`create_time` >= DATE(#{registerDate})
          AND p.`create_time`< DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          AND NOT EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`pay_time` >= DATE(#{registerDate})
              AND o.`pay_time` < DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          )
        ]]>
    </select>

    <select id="getChannelFreeRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
                 INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`channel` = #{channel}
          AND l.`create_date` = DATE(DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY))
          AND p.`create_time` >= DATE(#{registerDate})
          AND p.`create_time`< DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          AND NOT EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`pay_time` >= DATE(#{registerDate})
              AND o.`pay_time` < DATE_ADD(DATE(#{registerDate}), INTERVAL 1 DAY)
          )
        ]]>
    </select>

    <select id="selectServerPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{serverId} AS server_id,
            #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE p.`server_id` = #{serverId}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} DAY))
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
        ]]>
    </select>

    <select id="selectChannelPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{channel} AS channel,
            #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE p.`channel` = #{channel}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} DAY))
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
        ]]>
    </select>

    <!--  免费用户留存  -->
    <select id="selectServerFreePlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{serverId} AS server_id,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l INNER JOIN `game_player` p
        ON l.`player_id` = p.`player_id`
        WHERE p.`server_id` = #{serverId}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} DAY))
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND NOT EXISTS (
            SELECT * FROM `game_order` b WHERE l.`player_id` = b.`player_id`
              AND b.`pay_time` >= #{registerDate} AND b.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL #{days} DAY)
              AND b.`server_id` = @serverId
          )
        ]]>
    </select>

    <select id="selectChannelFreePlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{channel} AS channel,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE p.`channel` = #{channel}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} DAY))
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND NOT EXISTS (
            SELECT * FROM `game_order` b WHERE l.`player_id` = b.`player_id`
          AND b.`pay_time` >= #{registerDate} AND b.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL #{days} DAY)
          AND b.`server_id` = @serverId
            )
        ]]>
    </select>

    <select id="selectServerPayPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{serverId} AS server_id,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p
        ON l.`player_id` = p.`player_id`
            INNER JOIN `game_order` o ON l.`player_id` = o.`player_id`
        WHERE l.`server_id` = #{serverId}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} DAY))
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND o.`pay_time` >= #{registerDate}
          AND o.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
        ]]>
    </select>

    <select id="selectChannelPayPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{channel} AS channel,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p
        ON l.`player_id` = p.`player_id`
            INNER JOIN `game_order` o ON l.`player_id` = o.`player_id`
        WHERE p.`channel` = #{channel}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} DAY))
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND o.`pay_time` >= #{registerDate}
          AND o.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
        ]]>
    </select>

</mapper>
