<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.GameStatRemainMapper">

    <select id="queryServerRemain" resultType="cn.youai.xiuzhen.stat.entity.GameStatRemain">
    <![CDATA[
        SELECT @register_date := DATE(#{registerDate}) AS count_date,
            @serverId := #{serverId} AS server_id,

            -- 注册数
            (SELECT COUNT(p.`player_id`) FROM `game_player` p
            WHERE p.`create_date` = @register_date
                AND p.`server_id` = @serverId
            ) AS register_num,

            -- 付费玩家数
            (SELECT COUNT(DISTINCT(o.`player_id`)) FROM `game_order` o
                LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
            WHERE p.`create_date` = @register_date
                AND o.`create_date` = @register_date
                AND o.`server_id` = @serverId
            ) AS pay_num,

            -- 付费次留
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
                LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`server_id` = @serverId
            AND l.`create_date` = DATE(DATE_ADD(@register_date, INTERVAL 1 DAY))
            AND p.`create_date` = @register_date
            AND EXISTS (SELECT * FROM `game_order` o
                WHERE l.`player_id` = o.`player_id`
                AND o.`create_date` = @register_date
                AND o.`server_id` = @serverId)
            ) AS pay_remain,

            -- 免费留存
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
                LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`server_id` = @serverId
            AND l.`create_date` = DATE(DATE_ADD(@register_date, INTERVAL 1 DAY))
            AND p.`create_date` = @register_date
            AND NOT EXISTS (SELECT * FROM `game_order` o
                WHERE l.`player_id` = o.`player_id`
                AND o.`create_date` = @register_date
                AND o.`server_id` = @serverId)
            ) AS free_remain,

            -- 总留存(注册留存)
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
                LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`server_id` = @serverId
            AND l.`create_date` = DATE(DATE_ADD(@register_date, INTERVAL 1 DAY))
            AND p.`create_date` = @register_date
            ) AS register_remain;
        ]]>
   </select>

    <select id="queryChannelRemain" resultType="cn.youai.xiuzhen.stat.entity.GameStatRemain">
    <![CDATA[
        SELECT @register_date := DATE(#{registerDate}) AS count_date,
            @channel := #{channel} AS channel,

            -- 注册数
            (SELECT COUNT(p.`player_id`) FROM `game_player` p
            WHERE p.`create_date` = @register_date
                AND p.`channel` = @channel
            ) AS register_num,

            -- 付费玩家数
            (SELECT COUNT(DISTINCT(o.`player_id`)) FROM `game_order` o
                LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
            WHERE p.`create_date` = @register_date
                AND o.`create_date` = @register_date
            ) AS pay_num,

            -- 付费次留
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
                LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`channel` = @channel
            AND l.`create_date` = DATE(DATE_ADD(@register_date, INTERVAL 1 DAY))
            AND p.`create_date` = @register_date
            AND EXISTS (
                SELECT * FROM `game_order` o
                WHERE l.`player_id` = o.`player_id`
                    AND o.`create_date` = @register_date)
            ) AS pay_remain,

            -- 免费留存
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
                LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`channel` = @channel
                AND l.`create_date` = DATE(DATE_ADD(@register_date, INTERVAL 1 DAY))
                AND p.`create_date` = @register_date
                AND NOT EXISTS (
                    SELECT * FROM `game_order` o
                    WHERE l.`player_id` = o.`player_id`
                        AND o.`create_date` = @register_date)
                ) AS free_remain,

            -- 总留存(注册留存)
            (SELECT COUNT(DISTINCT(l.`player_id`)) FROM `log_account` l
                LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
            WHERE p.`channel` = @channel
                AND l.`create_date` = DATE(DATE_ADD(@register_date, INTERVAL 1 DAY))
                AND p.`create_date` = @register_date
            ) AS register_remain;
        ]]>
   </select>

    <!-- 付费角色次留-->
    <select id="getServerPayRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`server_id` = #{serverId}
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`create_date` = DATE(#{registerDate})
          )
        ]]>
    </select>

    <select id="getChannelPayRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`channel` = #{channel}
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`create_date` = DATE(#{registerDate})
          )
        ]]>
    </select>

    <!-- 免费角色次留-->
    <select id="getServerFreeRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`server_id` = #{serverId}
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND NOT EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`create_date` = DATE(#{registerDate})
          )
        ]]>
    </select>

    <select id="getChannelFreeRemain" resultType="java.lang.Integer">
        <![CDATA[
        SELECT COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`type` = 2
          AND p.`channel` = #{channel}
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND NOT EXISTS (
            SELECT * FROM `game_order` o
            WHERE l.`player_id` = o.`player_id`
              AND o.`create_date` = DATE(#{registerDate})
          )
        ]]>
    </select>

    <select id="selectServerPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{serverId} AS server_id,
            #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE p.`server_id` = #{serverId}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} - 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
        ]]>
    </select>

    <select id="selectChannelPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{channel} AS channel,
            #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE p.`channel` = #{channel}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} - 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
        ]]>
    </select>

    <!--  免费用户留存  -->
    <select id="selectServerFreePlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{serverId} AS server_id,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l INNER JOIN `game_player` p
        ON l.`player_id` = p.`player_id`
        WHERE p.`server_id` = #{serverId}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} - 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND NOT EXISTS (
            SELECT * FROM `game_order` o WHERE l.`player_id` = o.`player_id`
              AND o.`create_date` = DATE(#{registerDate})
              AND o.`server_id` = @serverId
          )
        ]]>
    </select>

    <select id="selectChannelFreePlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{channel} AS channel,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE p.`channel` = #{channel}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} - 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND NOT EXISTS (
            SELECT * FROM `game_order` o WHERE l.`player_id` = o.`player_id`
              AND o.`create_date` = DATE(#{registerDate})
              AND o.`server_id` = @serverId
          )
        ]]>
    </select>

    <select id="selectServerPayPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{serverId} AS server_id,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
            INNER JOIN `game_order` o ON l.`player_id` = o.`player_id`
        WHERE l.`server_id` = #{serverId}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} - 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND o.`create_date` = DATE(#{registerDate})
        ]]>
    </select>

    <select id="selectChannelPayPlayerRemain" resultType="cn.youai.xiuzhen.stat.entity.ServerRemain">
        <![CDATA[
        SELECT #{channel} AS channel,
               #{days} AS days,
            DATE(#{registerDate}) AS registerDate,
            IFNULL((SELECT COUNT(DISTINCT(l.`player_id`))), 0) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
            INNER JOIN `game_order` o ON l.`player_id` = o.`player_id`
        WHERE p.`channel` = #{channel}
          AND l.`type` = 2
          AND l.`create_date` = DATE(DATE_ADD(#{registerDate}, INTERVAL #{days} - 1 DAY))
          AND p.`create_date` = DATE(#{registerDate})
          AND o.`create_date` = DATE(#{registerDate})
        ]]>
    </select>

</mapper>
