<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameStatRemainDetailMapper">


    <select id="getStatRemainDetail" resultType="cn.youai.xiuzhen.game.entity.GameStatRemainDetail">
        <![CDATA[
        SELECT #{registerDate} AS `count_date`,
               #{serverId} AS `server_id`,
               #{roleType} AS `role_type`,
               (SELECT COUNT(*) FROM `game_player`
                WHERE `server_id` = #{serverId}
                  AND `create_time` >= #{registerDate}
                  AND `create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)) AS d1
        ]]>
    </select>

    <select id="getPayStatRemainDetail" resultType="cn.youai.xiuzhen.game.entity.GameStatRemainDetail">
        <![CDATA[
        SELECT #{registerDate} AS `count_date`,
               #{serverId} AS `server_id`,
               #{roleType} AS `role_type`,
               (SELECT COUNT(DISTINCT(o.`player_id`)) FROM `game_order` o
                LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
                WHERE p.`create_time` >= #{registerDate} AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
                  AND o.`pay_time` >= #{registerDate} AND o.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
                  AND o.`server_id` = #{serverId}) AS d1
        ]]>
    </select>

    <select id="getFreeStatRemainDetail" resultType="cn.youai.xiuzhen.game.entity.GameStatRemainDetail">
        <![CDATA[
        SELECT #{registerDate} AS `count_date`,
               #{serverId} AS `server_id`,
               #{roleType} AS `role_type`,
               (SELECT COUNT(DISTINCT(p.`player_id`)) FROM `game_player` p
                WHERE p.`server_id` = #{serverId}
                    AND p.`create_time` >= #{registerDate}
                    AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
                    AND NOT EXISTS (SELECT o.`player_id` FROM `game_order` o
                                    WHERE p.`player_id` = o.`player_id`
                                        AND o.`pay_time` >= #{registerDate}
                                        AND o.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY))) AS d1
        ]]>
    </select>


    <select id="selectRemain" resultType="cn.youai.xiuzhen.game.entity.ServerRemain">
        <![CDATA[
        SELECT
            #{serverId} AS serverId,
            #{days} AS days,
            #{registerDate} AS registerDate,
            COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`server_id` = #{serverId} AND l.`type` = 2
          AND l.`create_date` = DATE_ADD(#{registerDate}, INTERVAL #{days} DAY)
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
        ]]>
    </select>

    <select id="selectPayRemain" resultType="cn.youai.xiuzhen.game.entity.ServerRemain">
        <![CDATA[
        SELECT
            #{serverId} AS serverId,
            #{days} AS days,
            #{registerDate} AS registerDate,
            COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
            INNER JOIN `game_order` o ON l.`player_id` = o.`player_id`
        WHERE l.`server_id` = #{serverId} AND l.`type` = 2
          AND l.`create_date` = DATE_ADD(#{registerDate}, INTERVAL #{days} DAY)
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND o.`pay_time` >= #{registerDate}
          AND o.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
        ]]>
    </select>

    <select id="selectFreeRemain" resultType="cn.youai.xiuzhen.game.entity.ServerRemain">
        <![CDATA[
        SELECT
            #{serverId} AS serverId,
            #{days} AS days,
            #{registerDate} AS registerDate,
            COUNT(DISTINCT(l.`player_id`)) AS remain
        FROM `log_account` l
            INNER JOIN `game_player` p ON l.`player_id` = p.`player_id`
        WHERE l.`server_id` = #{serverId} AND l.`type` = 2
          AND l.`create_date` = DATE_ADD(#{registerDate}, INTERVAL #{days} DAY)
          AND p.`create_time` >= #{registerDate}
          AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND NOT EXISTS (SELECT o.`player_id` FROM `game_order` o
                            WHERE l.`player_id` = o.`player_id`
                                AND o.`pay_time` >= #{registerDate}
                                AND o.`pay_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY));
        ]]>
    </select>


</mapper>
