<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.game.mapper.GameDayDataCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.game.entity.GameDayDataCount">
        <id column="id" property="id"/>
        <result column="channel" property="channel"/>
        <result column="server_id" property="serverId"/>
        <result column="login_num" property="loginNum"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="pay_num" property="payNum"/>
        <result column="pay_rate" property="payRate"/>
        <result column="arpu" property="arpu"/>
        <result column="arppu" property="arppu"/>
        <result column="add_num" property="addNum"/>
        <result column="add_pay_amount" property="addPayAmount"/>
        <result column="add_pay_num" property="addPayNum"/>
        <result column="add_pay_rate" property="addPayRate"/>
        <result column="add_arpu" property="addArpu"/>
        <result column="add_arppu" property="addArppu"/>
        <result column="double_pay" property="doublePay"/>
        <result column="double_pay_rate" property="doublePayRate"/>
        <result column="count_date" property="countDate"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, channel, server_id, login_num, pay_amount, pay_num, pay_rate, arpu, arppu, add_num, add_pay_amount, add_pay_num, add_pay_rate, add_arpu, add_arppu, double_pay, double_pay_rate, count_date, create_time
    </sql>

    <insert id="updateOrInsert" useGeneratedKeys="true" keyProperty="id" parameterType="list">
        replace into `game_day_data_count`
        ( channel, server_id, login_num, pay_amount, pay_num, pay_rate, arpu, arppu, add_num,
        add_pay_amount, add_pay_num, add_pay_rate, add_arpu, add_arppu, double_pay, double_pay_rate,
        count_date, create_time
        )
        VALUES
        <foreach collection="list" item="it" separator=",">
            ( #{it.channel},#{it.serverId},#{it.loginNum},
            #{it.payAmount},#{it.payNum},#{it.payRate},#{it.arpu},#{it.arppu},#{it.addNum},
            #{it.addPayAmount},#{it.addPayNum},#{it.addPayRate},
            #{it.addArpu},#{it.addArppu},#{it.doublePay},
            #{it.doublePayRate},#{it.countDate},now()
            )
        </foreach>
    </insert>
</mapper>
