<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameRegisterInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.youai.xiuzhen.game.entity.GameRegisterInfo">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="player_id" property="playerId"/>
        <result column="name" property="name"/>
        <result column="network" property="network"/>
        <result column="model" property="model"/>

        <association property="userOnlineRecord"
                     javaType="cn.youai.xiuzhen.game.entity.UserOnlineRecord">
            <id column="uor_id" property="id"/>
            <result column="uor_duration" property="duration"/>
            <result column="uor_create_time" property="createTime"/>
            <result column="uor_create_date" property="createDate"/>
        </association>
    </resultMap>

    <select id="queryLoginList" resultMap="BaseResultMap">
        SELECT
        pri.`id`,
        pri.`account`,
        pri.`name`,
        pri.`network`,
        pri.`model`,
        pri.`player_id`,
        uor.`duration` uor_duration,
        uor.`create_time` uor_create_time,
        uor.`create_date` uor_create_date
        FROM
        `game_register_info` pri
        LEFT JOIN `game_user_online_record` uor ON pri.`player_id` = uor.`player_id`
        WHERE 1=1
        <if test="playerId > 0"><![CDATA[ AND pri.`player_id` = #{playerId}]]></if>
        <if test="serverId > 0"><![CDATA[ AND pri.`server_id` = #{serverId}]]></if>
        <if test="startTime != null"><![CDATA[ AND uor.`create_date` >= #{startTime}]]></if>
        <if test="endTime != null "><![CDATA[ AND uor.`create_date` <= #{endTime}]]></if>
    </select>

</mapper>