<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.GamePlayerMapper">

    <select id="queryPlayer" resultType="cn.youai.xiuzhen.game.entity.GamePlayer"
            parameterType="java.lang.Long">
        SELECT p.*, IFNULL(v.`id`, 0) AS `vip_id`
        FROM `game_player` p
        LEFT JOIN `game_vip` v ON p.`player_id` = v.`player_id`
        <where>
            p.`player_id` = #{playerId}
        </where>
    </select>

    <select id="queryPlayerList" resultType="cn.youai.xiuzhen.game.entity.GamePlayer">
        SELECT p.*, IFNULL(v.`id`, 0) AS `vip_id`
        FROM `game_player` p
        LEFT JOIN `game_vip` v ON p.`player_id` = v.`player_id`
        <where>
            p.`player_id` IN
            <foreach item="id" collection="playerIds" open="(" separator="," close=")">
                #{id}
            </foreach>
            ORDER BY p.`id` ASC
        </where>
    </select>

    <select id="selectPlayerListByUser" resultType="cn.youai.xiuzhen.game.entity.GamePlayer">
        SELECT p.*
        FROM `game_player` p
        <where>
            p.`status` = 1
            <if test="user != null">
                <if test="user.channel != null and user.channel != ''">
                    AND p.`channel` IN
                    <foreach item="item" index="index" collection="user.channel.split(',')" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="user.sdkChannel != null and user.sdkChannel != ''">
                    AND p.`sdk_channel` IN
                    <foreach item="item" index="index" collection="user.sdkChannel.split(',')" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="playerIds != null and playerIds != ''">
                AND p.`id` IN
                <foreach item="item" index="index" collection="playerIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryList" resultType="cn.youai.xiuzhen.game.entity.GamePlayer">
        SELECT p.*
        FROM `game_player` p
        <where>
            <if test="configAuth != null and configAuth != ''"><![CDATA[ ${configAuth } ]]></if>
            <if test="entity != null">
                <if test="entity.channel != null and entity.channel != ''">
                    AND p.`channel` = #{entity.channel}
                </if>
                <if test="entity.sdkChannel != null and entity.sdkChannel != ''">
                    AND p.`sdkChannel` = #{entity.sdkChannel}
                </if>
                <if test="entity.serverId != null and entity.serverId > 0">
                    AND p.`server_id` = #{entity.serverId}
                </if>
                <if test="entity.playerId != null and entity.playerId > 0">
                    AND p.`player_id` = #{entity.playerId}
                </if>
                <if test="entity.account != null and entity.account != ''">
                    AND p.`account` = #{entity.account}
                </if>
                <if test="entity.nickname != null and entity.nickname != ''">
                    AND p.`nickname` LIKE CONCAT('%', #{entity.nickname},'%')
                </if>
                <if test="entity.realm != null and entity.realm >= 0">
                    AND p.`realm` >= #{entity.realm}
                </if>
            </if>
            <if test="levelRange != null">
                <if test="null != levelRange.min"><![CDATA[AND p.`level` >= #{levelRange.min}]]></if>
                <if test="null != levelRange.max"><![CDATA[AND p.`level` <= #{levelRange.max}]]></if>
            </if>
            <if test="combatPowerRange != null">
                <if test="null != combatPowerRange.min"><![CDATA[AND p.`combat_power` >= #{combatPowerRange.min}]]></if>
                <if test="null != combatPowerRange.max"><![CDATA[AND p.`combat_power` <= #{combatPowerRange.max}]]></if>
            </if>
            <if test="dateRange != null">
                <if test="null != dateRange.start"><![CDATA[AND p.`create_date` >= #{dateRange.start}]]></if>
                <if test="null != dateRange.end"><![CDATA[AND p.`create_date` <= #{dateRange.end}]]></if>
            </if>
        </where>
        GROUP BY p.`player_id`
        ORDER BY p.`create_time` DESC
    </select>

</mapper>
