<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.game.mapper.GameLtvCountMapper">

    <select id="getGameLtvCount" resultType="org.jeecg.modules.game.entity.GameStatLtv">
        <![CDATA[
        SELECT @register_date := DATE(#{date}) AS count_date,
            @d_start := CONCAT(@register_date, ' 00:00:00'),
            @serverId :=#{serverId} AS server_id,
            (SELECT COUNT(*) FROM `game_player` WHERE `server_id` =
               #{serverId} AND `create_time` >= @d_start AND `create_time` < DATE_ADD(@d_start, INTERVAL 1 DAY)) AS register_num
        ]]>
    </select>

    <insert id="updateOrInsert" parameterType="list">
        replace into `game_stat_ltv`(
        server_id, count_date, register_num, create_time
        )
        VALUES
        <foreach collection="list" item="it" separator=",">
            (#{it.serverId},#{it.countDate}, #{it.registerNum},now())
        </foreach>
    </insert>

    <select id="selectLtv" resultType="double">
        <![CDATA[
        SELECT IFNULL(IF(NOW() < #{targetDate}, NULL, (
            SELECT SUM(o.`pay_amount`)
            FROM `game_order` o
                     LEFT JOIN `game_register_info` a
                               ON o.`player_id` = a.`player_id`
                                   AND o.`server_id` = a.`server_id`
            WHERE a.`create_time` >= #{startRegisterDate}
              AND a.`create_time` < #{endRegisterDate}
              AND o.`create_time` < #{targetDate}
              AND a.`server_id` = #{serverId}
              AND o.`server_id` = #{serverId}
        )), 0.00) AS d_amount;
        ]]>
    </select>

</mapper>
