<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.game.mapper.GameServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.game.entity.GameServer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="host" property="host" />
        <result column="port" property="port" />
        <result column="login_url" property="loginUrl" />
        <result column="status" property="status" />
        <result column="recommend" property="recommend" />
        <result column="warning" property="warning" />
        <result column="show_verion" property="showVerion" />
        <result column="client_version_code" property="clientVersionCode" />
        <result column="db_host" property="dbHost" />
        <result column="db_port" property="dbPort" />
        <result column="db_user" property="dbUser" />
        <result column="db_password" property="dbPassword" />
        <result column="db_name" property="dbName" />
        <result column="http_port" property="httpPort" />
        <result column="position" property="position" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="merge_time" property="mergeTime" />
        <result column="extra" property="extra" />
        <result column="open_time" property="openTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, host, port, login_url, status, recommend, warning, show_verion, client_version_code, db_host, db_port, db_user, db_password, db_name, http_port, position, type, pid, merge_time, extra, open_time, create_time
    </sql>

</mapper>
