<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameServerMapper">

    <update id="updateGameServerMaintain">
        UPDATE `game_server` SET `is_maintain` = #{isMaintain}
        WHERE `id` IN
        <foreach item='item' index='index' collection='serverIdList' open='(' separator=',' close=')'>#{item}</foreach>
    </update>

</mapper>