<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.GameUserAccountMapper">

    <select id="queryUserAccountNum" resultType="java.lang.Integer">
        SELECT COUNT(*) AS countNum
        FROM `game_user_account` p
        <where>
            <if test="date != null">p.`create_date` = DATE(#{date})</if>
            <if test="configAuth != null and configAuth != ''"><![CDATA[ ${configAuth } ]]></if>
            <if test="channel != null and channel != ''"><![CDATA[ AND p.`channel` = #{channel} ]]></if>
            <if test="sdkChannel != null and sdkChannel != ''"><![CDATA[ AND p.`sdk_channel` = #{sdkChannel} ]]></if>
        </where>
    </select>

    <select id="querySdkChannels" resultType="java.lang.String">
        SELECT DISTINCT(`sdk_channel`)
        FROM `game_user_account`
        WHERE `sdk_channel` IS NOT NULL AND `sdk_channel` != ''
    </select>

</mapper>
