<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.game.mapper.GameOrderMapper">

    <select id="queryById" resultType="cn.youai.xiuzhen.game.entity.GameOrder">
        SELECT o.*, p.`nickname`, p.`account`, p.`sdk_channel`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE o.`id` = #{id}
    </select>

    <select id="queryByIds" resultType="cn.youai.xiuzhen.game.entity.GameOrder">
        SELECT o.*, p.`nickname`, p.`account`, p.`sdk_channel`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE o.`id` IN
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryPlayerTotalPayAmount" resultType="cn.youai.xiuzhen.game.entity.GameOrder">
        SELECT o.`player_id`, IFNULL(SUM(o.`pay_amount`), 0) AS `total_pay_amount`
        FROM `game_order` o
        WHERE o.`player_id` IN
        <foreach item="playerId" collection="playerIds" open="(" separator="," close=")">
            #{playerId}
        </foreach>
        GROUP BY o.`player_id`
    </select>

    <select id="queryList" resultType="cn.youai.xiuzhen.game.entity.GameOrder">
        SELECT o.*, p.`nickname`, p.`account`, p.`sdk_channel`,
        IFNULL(v.`id`, 0) AS `vip_id`, grg.`name` as `productName`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_vip` v ON o.`player_id` = v.`player_id`
        LEFT JOIN `game_recharge_goods` grg on grg.`goods_id` = o.`product_id`
        <where>
            <if test="configAuth != null and configAuth != ''"><![CDATA[ ${configAuth } ]]></if>
            <if test="entity != null">
                <if test="entity.channel != null and entity.channel != ''">
                    AND o.`channel` = #{entity.channel}
                </if>
                <if test="entity.serverId != null and entity.serverId > 0">
                    AND o.`server_id` = #{entity.serverId}
                </if>
                <if test="entity.playerId != null and entity.playerId > 0">
                    AND o.`player_id` = #{entity.playerId}
                </if>
                <if test="entity.orderId != null and entity.orderId != ''">
                    AND o.`order_id` LIKE CONCAT('%', #{entity.orderId}, '%')
                </if>
                <if test="entity.queryId != null and entity.queryId != ''">
                    AND o.`query_id` LIKE CONCAT('%', #{entity.queryId}, '%')
                </if>
                <if test="entity.productId != null">
                    AND o.`product_id` = #{entity.productId}
                </if>
                <if test="entity.orderStatus != null">
                    AND o.`order_status` = #{entity.orderStatus}
                </if>
            </if>
            <if test="amountRange != null">
                <if test="null != amountRange.min"><![CDATA[AND o.`pay_amount` >= #{amountRange.min}]]></if>
                <if test="null != amountRange.max"><![CDATA[AND o.`pay_amount` <= #{amountRange.max}]]></if>
            </if>
            <if test="dateRange != null">
                <if test="null != dateRange.start"><![CDATA[AND o.`create_date` >= #{dateRange.start}]]></if>
                <if test="null != dateRange.end"><![CDATA[AND o.`create_date` <= #{dateRange.end}]]></if>
            </if>
        </where>
        ORDER BY o.`create_time` DESC
    </select>

    <select id="serverRangeAmount" resultType="cn.youai.xiuzhen.stat.entity.ServerBill">
        SELECT MIN(DATE(o.`create_date`)) AS startDate,
            MAX(DATE(o.`create_date`)) AS endDate,
            COUNT(DISTINCT(o.`server_id`)) AS serverNum,
            COUNT(DISTINCT(o.`player_id`)) AS playerNum,
            IFNULL(SUM(o.`pay_amount`), 0) AS totalAmount
        FROM `game_order` o
        WHERE o.`server_id` = #{serverId}
        <if test="start != null"><![CDATA[ AND o.`create_date` >= DATE(#{start}) ]]></if>
        <if test="end != null "><![CDATA[ AND o.`create_date` <= DATE(#{end}) ]]></if>
    </select>

    <select id="channelRangeAmount" resultType="cn.youai.xiuzhen.stat.entity.ServerBill">
        SELECT MIN(DATE(o.`create_date`)) AS startDate,
            MAX(DATE(o.`create_date`)) AS endDate,
            COUNT(DISTINCT(o.`server_id`)) AS serverNum,
            COUNT(DISTINCT(o.`player_id`)) AS playerNum,
            IFNULL(SUM(o.`pay_amount`), 0) AS totalAmount
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        <where>
            <if test="channel != null and channel != ''"><![CDATA[ p.`channel` = #{channel} ]]></if>
            <if test="start != null"><![CDATA[ AND o.`create_date` >= DATE(#{start}) ]]></if>
            <if test="end != null "><![CDATA[ AND o.`create_date` <= DATE(#{end}) ]]></if>
        </where>
    </select>

    <select id="payAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS payAmount
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE o.`create_date` = DATE(#{payDate})
        <if test="configAuth != null and configAuth != ''"><![CDATA[ ${configAuth } ]]></if>
        <if test="channel != null and channel != ''"><![CDATA[ AND p.`channel` = #{channel} ]]></if>
        <if test="sdkChannel != null and sdkChannel != ''"><![CDATA[ AND p.`sdk_channel` = #{sdkChannel} ]]></if>
        <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
    </select>

    <select id="payPlayerNum" resultType="int">
        SELECT COUNT(DISTINCT o.`player_id`) AS num
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE o.`create_date` = DATE(#{payDate})
        <if test="configAuth != null and configAuth != ''"><![CDATA[ ${configAuth } ]]></if>
        <if test="channel != null and channel != ''"><![CDATA[ AND p.`channel` = #{channel} ]]></if>
        <if test="sdkChannel != null and sdkChannel != ''"><![CDATA[ AND p.`sdk_channel` = #{sdkChannel} ]]></if>
        <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
    </select>

    <!-- 充值统计 -->
    <select id="queryOrderStatByRange" resultType="cn.youai.xiuzhen.stat.entity.GameStatOrder">
        SELECT DATE(#{startDate}) AS `start_date`,
               DATE(#{endDate})   AS `end_date`,
               -- 活跃用户数
               (SELECT IFNULL(COUNT(DISTINCT(l.`player_id`)), 0)
                FROM `log_account` l LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
                <where>
                    l.`type` = 2
                    <if test="channel != null and channel != ''"><![CDATA[ AND p.`channel` = #{channel} ]]></if>
                    <if test="serverId != null and serverId > 0"><![CDATA[ AND l.`server_id` = #{serverId} ]]></if>
                    <if test="startDate != null"><![CDATA[ AND l.`create_date` >= DATE(#{startDate}) ]]></if>
                    <if test="endDate != null"><![CDATA[ AND l.`create_date` <= DATE(#{endDate}) ]]></if>
                </where>
                ) AS `active_num`,

                -- 付费用户数
                (SELECT IFNULL(COUNT(DISTINCT(o.`player_id`)), 0)
                FROM `game_order` o LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
                <where>
                    <if test="channel != null and channel != ''"><![CDATA[ AND p.`channel` = #{channel} ]]></if>
                    <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
                    <if test="startDate != null"><![CDATA[ AND o.`create_date` >= DATE(#{startDate}) ]]></if>
                    <if test="endDate != null"><![CDATA[ AND o.`create_date` <= DATE(#{endDate}) ]]></if>
                </where>
                ) AS `pay_num`,

                -- 付费金额
                (SELECT IFNULL(SUM(o.`pay_amount`), 0)
                FROM `game_order` o LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
                <where>
                    <if test="channel != null and channel != ''"><![CDATA[ AND p.`channel` = #{channel} ]]></if>
                    <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
                    <if test="startDate != null"><![CDATA[ AND o.`create_date` >= DATE(#{startDate}) ]]></if>
                    <if test="endDate != null"><![CDATA[ AND o.`create_date` <= DATE(#{endDate}) ]]></if>
                </where>
                ) AS `pay_amount`;
    </select>

    <select id="getGameOrderRangeDate" resultType="cn.youai.xiuzhen.game.entity.MergeServerVO">
        SELECT `server_id` AS serverId, SUM(`pay_amount`) AS payAmount FROM `game_order`
        WHERE `order_status` = 4
        <if test="null != startTime"><![CDATA[ AND `create_time` >= #{startTime} ]]></if>
        <if test="null != endTime"><![CDATA[ AND `create_time` <= #{endTime} ]]></if>
        GROUP BY `server_id`
    </select>

    <select id="queryStatRechargeGoodsSum" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeSum">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS `total_amount`,
        IFNULL(COUNT(o.`id`), 0) AS `total_num`,
        IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `total_player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_recharge_goods` g ON o.`product_id` = g.`goods_id`
        <where>
            <if test="channel != null and channel != ''"><![CDATA[ p.`channel` = #{channel} ]]></if>
            <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
            <if test="goodsGroup != null and goodsGroup > 0"><![CDATA[ AND g.`goods_group` = #{goodsGroup} ]]></if>
            <if test="startDate != null"><![CDATA[ AND o.`create_date` >= DATE(#{startDate}) ]]></if>
            <if test="endDate != null "><![CDATA[ AND o.`create_date` <= DATE(#{endDate}) ]]></if>
        </where>
    </select>

    <select id="queryStatRechargeGoods" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeGoods">
        SELECT o.`product_id` AS `product_id`,
        g.`name` AS `product_name`,
        IFNULL(SUM(o.`pay_amount`), 0) AS `pay_amount`,
        IFNULL(COUNT(o.`id`), 0) AS `pay_num`,
        IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_recharge_goods` g ON o.`product_id` = g.`goods_id`
        <where>
            <if test="channel != null and channel != ''"><![CDATA[ p.`channel` = #{channel} ]]></if>
            <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
            <if test="goodsGroup != null and goodsGroup > 0"><![CDATA[ AND g.`goods_group` = #{goodsGroup} ]]></if>
            <if test="startDate != null"><![CDATA[ AND o.`create_date` >= DATE(#{startDate}) ]]></if>
            <if test="endDate != null "><![CDATA[ AND o.`create_date` <= DATE(#{endDate}) ]]></if>
        </where>
        GROUP BY o.`product_id`
    </select>

    <select id="queryStatRechargeGradeSum" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeSum">
        SELECT IFNULL(SUM(o.`pay_amount`), 0) AS `total_amount`,
        IFNULL(COUNT(o.`id`), 0) AS `total_num`,
        IFNULL(COUNT(DISTINCT(o.`player_id`)), 0) AS `total_player_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        <where>
            <if test="channel != null and channel != ''"><![CDATA[ p.`channel` = #{channel} ]]></if>
            <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
            <if test="startDate != null"><![CDATA[ AND o.`create_date` >= DATE(#{startDate}) ]]></if>
            <if test="endDate != null "><![CDATA[ AND o.`create_date` <= DATE(#{endDate}) ]]></if>
        </where>
    </select>

    <select id="queryPlayerRechargeAmount" resultType="cn.youai.xiuzhen.stat.entity.GameStatPlayerRechargeAmount">
        SELECT o.`player_id`,
        IFNULL(SUM(o.`pay_amount`), 0) AS `pay_amount`,
        IFNULL(COUNT(o.`id`), 0) AS `pay_num`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        <where>
            <if test="channel != null and channel != ''"><![CDATA[ p.`channel` = #{channel} ]]></if>
            <if test="serverId != null and serverId > 0"><![CDATA[ AND o.`server_id` = #{serverId} ]]></if>
            <if test="startDate != null"><![CDATA[ AND o.`create_date` >= DATE(#{startDate}) ]]></if>
            <if test="endDate != null "><![CDATA[ AND o.`create_date` <= DATE(#{endDate}) ]]></if>
        </where>
        GROUP BY p.`player_id`
    </select>

    <select id="queryRechargeRankList" resultType="cn.youai.xiuzhen.stat.entity.GameStatRechargeRank">
        SELECT o.`player_id`,
        p.`nickname`,
        p.`level`,
        p.`server_id`,
        p.`sid`,
        p.`channel`,
        p.`sdk_channel`,
        p.`create_time`,
        p.`login_time` AS `last_login_time`,
        MAX(o.`create_time`) AS `last_pay_time`,
        MAX(o.`id`) AS `order_id`,
        IFNULL(SUM(o.`pay_amount`), 0) AS `pay_amount`,
        IFNULL(v.`id`, 0) AS `vip_id`
        FROM `game_order` o
        LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        LEFT JOIN `game_vip` v ON o.`player_id` = v.`player_id`
        <where>
            <if test="configAuth != null and configAuth != ''"><![CDATA[ ${configAuth } ]]></if>
            <if test="null != channel and channel != ''">AND p.`channel` = #{channel}</if>
            <if test="serverId != null and serverId > 0"><![CDATA[ AND p.`server_id` = #{serverId} ]]></if>
            <if test="playerId != null and playerId > 0"><![CDATA[ AND p.`player_id` = #{playerId} ]]></if>
            <if test="dateRange != null">
                <if test="null != dateRange.start"><![CDATA[AND o.`create_date` >= #{dateRange.start}]]></if>
                <if test="null != dateRange.end"><![CDATA[AND o.`create_date` <= #{dateRange.end}]]></if>
            </if>
        </where>
        GROUP BY o.`player_id`
        ORDER BY `pay_amount` DESC, o.`id` ASC
    </select>

    <select id="sumAmountGroupByPlayerId" resultType="cn.youai.xiuzhen.game.entity.GameOrder">
        SELECT `player_id` AS playerId, `server_id` AS serverId, SUM(`pay_amount`) AS totalAmount
        FROM `game_order`
        WHERE `order_status` = 4
        <if test="serverIds != null and serverIds.size > 0">
            AND `server_id` IN
            <foreach item="serverId" index="index" collection="serverIds" open="(" close=")" separator=",">
                #{serverId}
            </foreach>
        </if>
        GROUP BY `player_id`
    </select>

</mapper>