<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.GameStatLtvDetailMapper">

    <select id="getGameStatLtvDetail" resultType="cn.youai.xiuzhen.stat.entity.GameStatLtvDetail">
        <![CDATA[
        SELECT #{registerDate} AS `count_date`,
               #{serverId} AS `server_id`,
               (SELECT COUNT(*) FROM `game_player`
                WHERE `server_id` = #{serverId}
                  AND `create_time` >= #{registerDate}
                  AND `create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)) AS num
        ]]>
    </select>

    <select id="getLtvAmount" resultType="cn.youai.xiuzhen.stat.entity.ServerLtvAmount">
        <![CDATA[
        SELECT
            #{serverId} AS serverId,
            #{days} AS days,
            #{registerDate} AS registerDate,
            IFNULL(SUM(o.`pay_amount`), 0) AS totalAmount
        FROM `game_order` o
                 LEFT JOIN `game_player` p ON o.`player_id` = p.`player_id`
        WHERE p.`create_time` >= #{registerDate} AND p.`create_time` < DATE_ADD(#{registerDate}, INTERVAL 1 DAY)
          AND o.`create_time` <= DATE_ADD(#{registerDate}, INTERVAL #{days} DAY)
          AND p.`server_id` = #{serverId}
        ]]>
    </select>

</mapper>
