<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.LogAccountMapper">

    <select id="queryDau" resultType="decimal">
        SELECT COUNT(DISTINCT (`player_id`)) dau
        FROM `log_account`
        WHERE `create_date` = #{getTime}
          AND `type` = 2
    </select>

    <select id="queryPlayerIp" resultType="string">
        SELECT `ip`
        FROM `log_account`
        WHERE `player_id` = #{playerId}
          AND `create_date` = #{createDate}
        ORDER BY `create_time` DESC LIMIT 1
    </select>

    <select id="selectBehaviorCount"
            resultType="cn.youai.xiuzhen.stat.entity.PlayerBehavior">
        SELECT
        a.`server_id` server_id,
        a.`player_id` player_id,
        a.`nickname` nickName,
        b.`type` `type`,
        b.`value` `value`,
        b.`create_date` create_date
        FROM `game_player` a
        INNER JOIN `log_player` b ON a.`player_id` = b.`player_id`
        <where>
            <if test="serverId > 0">
                a.`server_id` = #{serverId}
            </if>
            <if test="nickname != null and nickname != ''">
                AND a.`nickname` LIKE CONCAT('%', #{nickname},'%')
            </if>
            <if test="playerId > 0">
                AND a.`player_id` = #{playerId}
            </if>
            <if test="null != start"><![CDATA[AND b.`create_time` >= #{start}]]></if>
            <if test="null != end"><![CDATA[AND b.`create_time` <= #{end}]]></if>
        </where>
    </select>

    <select id="gerLoginRegisterPlayerNum" resultType="int">
        SELECT COUNT(DISTINCT a.`player_id`) AS counNum
        FROM `log_account` a
        WHERE a.`server_id` = #{serverId}
          AND a.`type` = #{type}
          AND a.`create_date` = DATE (#{createTime});
    </select>

    <select id="getRegisterPayAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(sum(a.`pay_amount`), 0) AS payAmount
        FROM `game_order` a
                 JOIN `log_account` b
                      ON b.`player_id` = a.`player_id`
                          AND b.`server_id` = a.`server_id`
        WHERE b.`server_id` = #{serverId}
          AND b.`type` = 1
          AND b.`create_date` = DATE (#{date})
          AND a.`server_id`= #{serverId}
          AND DATE (a.`pay_time`) = DATE (#{date});
    </select>

    <select id="getRegisterPayPlayer" resultType="int">
        SELECT count(DISTINCT a.`player_id`) AS payAmount
        FROM `game_order` a
                 JOIN `log_account` b
                      ON b.`player_id` = a.`player_id`
                          AND b.`server_id` = a.`server_id`
        WHERE b.`server_id` = #{serverId}
          AND b.`type` = 1
          AND b.`create_date` = DATE (#{date})
          AND a.`server_id`= #{serverId}
          AND DATE (a.`pay_time`) = DATE (#{date});
    </select>

    <select id="getDoublePayRegisterPlayer" resultType="int">
        SELECT count(1)
        FROM (SELECT count(a.`player_id`) AS addPayPlayer
              FROM `game_order` a
                       LEFT JOIN `log_account` b
                                 ON a.`player_id` = b.`player_id`
                                     AND b.`server_id` = a.`server_id`
              WHERE b.`server_id` = #{serverId}
                AND b.`type` = 1
                AND a.`server_id` = #{serverId}
                AND b.`create_date` = DATE (#{date}) AND DATE (a.`pay_time`) = DATE (#{date})
        GROUP BY a.`player_id`) c
        WHERE c.`addPayPlayer` >= 2;
    </select>

    <select id="getPlayerIdsByLoginDate" resultType="java.lang.Long">
        SELECT a.`player_id`
        FROM `log_account` a
        WHERE a.`server_id` = #{serverId}
          AND a.`type` = 2
          AND a.`create_date` = #{date}
        group by a.`player_id`;
    </select>

    <select id="getPlayerIdsByLoginDates" resultType="cn.youai.xiuzhen.stat.entity.LogAccount">
        <foreach collection="dateList" item="date" index="index">
            <if test="index != 0">
                UNION ALL
            </if>
            SELECT a.`create_date`,
            a.`player_id`
            FROM `log_account` a
            WHERE a.`type` = 2
            <if test="serverId > 0">
                AND a.`server_id` = #{serverId}
            </if>
            AND a.`create_time` &gt;= #{date.startTime}
            AND a.`create_time` &lt;= #{date.endTime}
            GROUP BY a.`player_id`
        </foreach>
    </select>


    <select id="getPlayerIdsByNoLoginRangeDate" resultType="java.lang.Long">
        <![CDATA[
        SELECT a.`player_id`
        FROM `log_account` a
                 LEFT JOIN (SELECT `player_id`
                            FROM `log_account`
                            WHERE `type` = 2
                              AND `server_id` = #{serverId}
                              AND `create_date` >= #{startDate}
                              AND `create_date` <= #{endDate}
                            GROUP BY `player_id`) t
                           ON t.`player_id` = a.`player_id`
        WHERE a.`type` = 2
          AND a.`server_id` = #{serverId}
          AND t.`player_id` IS NULL
        GROUP BY a.`player_id`;
        ]]>
    </select>

    <select id="getServerLoginNum" resultType="cn.youai.xiuzhen.game.entity.MergeServerVO">
        SELECT `server_id` as serverId, COUNT(DISTINCT `player_id`) AS `num` FROM `log_account`
        WHERE `type` = 2
        <if test="null != startTime"><![CDATA[AND `create_date` >= #{startTime}]]></if>
        <if test="null != endTime"><![CDATA[AND `create_date` <= #{endTime}]]></if>
        GROUP BY `server_id`;
    </select>
</mapper>
