<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.LogPlayerLevelMapper">

    <select id="queryList" resultType="cn.youai.xiuzhen.stat.entity.LogPlayerLevel">
        SELECT p.`nickname`,
        p.`create_time` as registerTime,
        lp.*,
        (lp.`combat_power` + lp.`combat_power_compensation`) AS `totalCombatPower`
        FROM `log_player_level` lp
        LEFT JOIN `game_player` p ON p.`player_id` = lp.`player_id`
        <where>
            <if test="configAuth != null and configAuth != ''">
                ${configAuth}
            </if>
            <if test="entity != null">
                <if test="entity.serverId !=null and entity.serverId > 0">
                    AND lp.`server_id` = #{entity.serverId}
                </if>
                <if test="entity.playerId !=null and entity.playerId > 0">
                    AND lp.`player_id` = #{entity.playerId}
                </if>
                <if test="entity.nickname !=null and entity.nickname != ''">
                    AND p.`nickname` LIKE CONCAT('%',#{entity.nickname},'%')
                </if>
                <if test="levelRange != null">
                    <if test="null != levelRange.min"><![CDATA[AND lp.`level` >= #{levelRange.min}]]></if>
                    <if test="null != levelRange.max"><![CDATA[AND lp.`level` <= #{levelRange.max}]]></if>
                </if>
                <if test="combatPowerRange != null">
                    <if test="null != combatPowerRange.min">
                        <![CDATA[AND (lp.`combat_power` + lp.`combat_power_compensation`) >= #{combatPowerRange.min}]]></if>
                    <if test="null != combatPowerRange.max">
                        <![CDATA[AND (lp.`combat_power` + lp.`combat_power_compensation`) <= #{combatPowerRange.max}]]></if>
                </if>
                <if test="dateRange != null">
                    <if test="null != dateRange.start"><![CDATA[AND lp.`create_date` >= #{dateRange.start}]]></if>
                    <if test="null != dateRange.end"><![CDATA[AND lp.`create_date` <= #{dateRange.end}]]></if>
                </if>
            </if>
        </where>
        order by lp.create_time desc
    </select>
</mapper>