<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.LogPlayerMapper">

    <select id="selectCombatPowerLogList" resultType="cn.youai.xiuzhen.stat.entity.CombatPowerLog">
        SELECT l.`id`, l.`player_id`, p.`nickname`, p.`server_id`,
        l.`value` AS `attr_type`,
        l.`param_1` AS `before`,
        l.`param_2` AS `delta`,
        l.`param_3` AS `after`,
        l.`create_time`
        FROM `log_player` l
        LEFT JOIN `game_player` p ON l.`player_id` = p.`player_id`
        <where>
            l.`type` = 9
            <choose>
                <when test="playerId > 0">AND p.`player_id` = #{playerId}</when>
                <otherwise>
                    <if test="channel != null and channel != ''">AND p.`channel` = #{channel}</if>
                    <if test="serverId > 0">AND p.`server_id` = #{serverId}</if>
                </otherwise>
            </choose>
            <if test="null != start"><![CDATA[AND l.`create_date` >= #{start}]]></if>
            <if test="null != end"><![CDATA[AND l.`create_date` <= #{end}]]></if>
        </where>
        ORDER BY l.`create_time` DESC
    </select>


</mapper>