<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youai.xiuzhen.stat.mapper.PayOrderBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.youai.xiuzhen.stat.entity.PayOrderBill">
        <id column="id" property="id"/>
        <result column="channel" property="channel"/>
        <result column="server_id" property="serverId"/>
        <result column="pay_num_sum" property="payNumSum"/>
        <result column="pay_num_sum_rate" property="payNumSumRate"/>
        <result column="pay_amount_sum" property="payAmountSum"/>
        <result column="pay_amount_sum_rate" property="payAmountSumRate"/>
        <result column="arppu" property="arppu"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="consume_rank" property="consumeRank"/>
        <result column="pay_count" property="payCount"/>
        <result column="chalcedony" property="chalcedony"/>
    </resultMap>

    <select id="queryBillSumByDateRange" resultType="decimal">
        SELECT
        SUM(pay_amount)
        FROM game_order
        WHERE
        pay_time >= #{payTimeBeginDate} AND pay_time &lt;= #{payTimeEndDate}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
    </select>

    <select id="queryPayGradeByDateRange" resultMap="BaseResultMap">
        SELECT
        COUNT(DISTINCT(player_id)) pay_num_sum,
        (COUNT(DISTINCT(player_id)) / (#{payNumSum})) pay_num_sum_rate,
        SUM(pay_amount) pay_amount_sum,
        (SUM(pay_amount) / (SELECT SUM(pay_amount) FROM game_order)) pay_amount_sum_rate,
        (SUM(pay_amount) / COUNT(id)) arppu
        FROM game_order
        WHERE
        pay_time >= #{rangeDateBeginTime} AND pay_time &lt;= #{rangeDateEndTime}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
        AND order_amount >= #{payRankBegin} AND order_amount &lt;= #{payRankEnd}
    </select>

    <select id="queryPayOrderList" resultMap="BaseResultMap">
        SELECT
        (SELECT COUNT(DISTINCT(player_id)) FROM game_order WHERE product_id = #{goodsId} AND order_status
        > 0) pay_num_sum,
        (SELECT COUNT(player_id) FROM game_order WHERE product_id = #{goodsId}) pay_count,
        ((SELECT COUNT(DISTINCT(player_id)) FROM game_order WHERE product_id = #{goodsId}) / #{dau})
        pay_num_sum_rate,
        ((SELECT COUNT(player_id) FROM game_order WHERE product_id = #{goodsId}) * order_amount)
        pay_amount_sum,
        order_amount,
        SUM(pay_amount) consume_rank,
        SUM(pay_amount) * (SELECT COUNT(player_id) FROM game_order WHERE product_id = #{goodsId})
        chalcedony
        FROM game_order
        WHERE
        product_id = #{goodsId}
        AND pay_time >= #{rangeDateBeginTime} AND pay_time &lt;= #{rangeDateEndTime}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
    </select>

    <select id="queryPayNumSum" resultType="java.lang.Integer">
        SELECT
        COUNT(DISTINCT(player_id))
        FROM game_order
        WHERE
        pay_time >= #{rangeDateBeginTime} AND pay_time &lt;= #{rangeDateEndTime}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
    </select>

    <select id="getPayAmountSum" resultType="cn.youai.xiuzhen.game.entity.GameOrder">
        SELECT a.player_id, a.pay_amount FROM `game_order` a
        <where>
            <if test="serverId != null">
                a.`server_id` = #{serverId}
            </if>
        </where>
    </select>
</mapper>