<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.game.mapper.PayOrderBillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.game.entity.PayOrderBill">
        <id column="id" property="id"/>
        <result column="channel" property="channel"/>
        <result column="server_id" property="serverId"/>
        <result column="pay_num_sum" property="payNumSum"/>
        <result column="pay_num_sum_rate" property="payNumSumRate"/>
        <result column="pay_amount_sum" property="payAmountSum"/>
        <result column="pay_amount_sum_rate" property="payAmountSumRate"/>
        <result column="arppu" property="arppu"/>
    </resultMap>

    <select id="queryBillSumByDateRange" resultType="decimal">
        SELECT
        SUM(pay_amount)
        FROM pay_order
        WHERE
        pay_time >= #{payTimeBeginDate} AND pay_time &lt;= #{payTimeEndDate}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
    </select>

    <select id="queryPaygGradeByDateRange" resultMap="BaseResultMap">
        SELECT
        COUNT(id) pay_num_sum,
        (COUNT(id) / (SELECT COUNT(*) FROM pay_order)) pay_num_sum_rate,
        SUM(pay_amount) pay_amount_sum,
        (SUM(pay_amount) / (SELECT SUM(pay_amount) FROM pay_order)) pay_amount_sum_rate,
        (SUM(pay_amount) / COUNT(id)) arppu
        FROM pay_order
        WHERE
        pay_time >= #{rangeDateBeginTime} AND pay_time &lt;= #{rangeDateEndTime}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
        AND order_amount >= #{payRankBegin} AND order_amount &lt;= #{payRankEnd}
    </select>
</mapper>