<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.game.mapper.PayOrderGiftVOMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.game.entity.PayOrderGiftVO">
        <id column="id" property="id"/>
        <result column="channel" property="channel"/>
        <result column="server_id" property="serverId"/>
        <result column="product_count" property="productCount"/>
        <result column="product_count_ratio" property="productCountRatio"/>
        <result column="pay_amount_sum" property="payAmountSum"/>
        <result column="pay_amount_ratio" property="payAmountRatio"/>
    </resultMap>

    <select id="queryGiftByDateRange" resultMap="BaseResultMap">
        SELECT
        id,
        product_id,
        COUNT(product_id) AS product_count,
        COUNT(product_id) / #{productCount} AS product_count_ratio,
        SUM(pay_amount) AS pay_amount_sum,
        SUM(pay_amount)/ #{payAmountSum} AS pay_amount_ratio
        FROM
        pay_order
        WHERE
        pay_time >= #{payTimeBeginDate} AND pay_time &lt;= #{payTimeEndDate}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
        GROUP BY product_id
    </select>

    <select id="queryGiftConsume" resultMap="BaseResultMap">
        SELECT
        COUNT(*) product_count,
        SUM(pay_amount) pay_amount_sum
        FROM pay_order
        WHERE
        pay_time >= #{payTimeBeginDate} AND pay_time &lt;= #{payTimeEndDate}
        AND order_status > 0
        <if test="serverId != 0">
            AND server_id = #{serverId}
        </if>
        <if test="channel != null">
            AND channel = #{channel}
        </if>
    </select>
</mapper>