<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.game.mapper.PayUserRankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.game.entity.PayUserRank">
        <id column="id" property="id"/>
        <result column="channel" property="channel"/>
        <result column="server_id" property="serverId"/>
        <result column="player_id" property="playerId"/>
        <result column="pay_amount_sum" property="payAmountSum"/>
        <result column="pay_time_max" property="payTimeMax"/>
        <!-- 关联对象 -->
        <association property="gameRegisterInfoVO" javaType="org.jeecg.modules.game.entity.GameRegisterInfoVO">
            <id column="id" property="id"/>
            <result column="account" property="account"/>
            <result column="name" property="name"/>
            <result column="pri_player_id" property="playerId"/>
            <result column="create_date" property="createDate"/>
            <result column="create_time" property="createTime"/>
            <result column="login_date" property="loginDate"/>
        </association>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="PlayerResultMap" type="cn.youai.entities.GamePlayer">
        <id column="player_id" property="playerId"/>
        <result column="register_time" property="registerTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
    </resultMap>

    <select id="queryUserRankByDateRange" resultMap="BaseResultMap">
        SELECT
        po.`id`,
        po.`player_id`,
        pri.`name`,
        SUM(po.`pay_amount`) pay_amount_sum
        FROM `game_order` po
        LEFT JOIN `game_register_info` pri
        ON po.`player_id` = pri.`player_id`
        WHERE po.`pay_time` >= #{payTimeBeginDate} AND `pay_time` &lt;= #{payTimeEndDate}
        AND po.`order_status` > 0
        <if test="serverId > 0">
            AND po.`server_id` = #{serverId}
        </if>
        <if test="channel != null">
            AND po.`channel` = #{channel}
        </if>
        GROUP BY po.`player_id`
        ORDER BY pay_amount_sum DESC
        LIMIT 100
    </select>

    <select id="queryPayRankByDateRange" resultMap="BaseResultMap">
        SELECT
        po.`id`,
        po.`channel`,
        po.`server_id`,
        pri.`account`,
        po.`player_id`,
        pri.`name`,
        SUM(po.`pay_amount`) pay_amount_sum,
        pri.`create_time`,
        MAX(po.`pay_time`) pay_time_max
        FROM `game_order` po
        LEFT JOIN `game_register_info` pri
        ON po.`player_id` = pri.`player_id`
        WHERE po.`pay_time` >= #{rangeDateBeginTime} AND `pay_time` &lt;= #{rangeDateEndTime}
        AND po.`order_status` > 0
        <if test="serverId != 0">
            AND po.`server_id` = #{serverId}
        </if>
        <if test="channel != null">
            AND po.`channel` = #{channel}
        </if>
        GROUP BY po.`player_id`
        ORDER BY pay_amount_sum DESC
    </select>

    <select id="getPlayerLastLoginTime" resultType="date">
        SELECT MAX(`create_time`) loginDate
        FROM `log_account`
        WHERE `player_id` = #{playerId}
    </select>

    <select id="getPlayerLastLoginAndRegisterTime" resultMap="PlayerResultMap">
        SELECT
        a.`player_id` player_id,
        a.`create_time` register_time,
        MAX(b.`create_time`) last_login_time
        FROM `log_account` a LEFT JOIN `log_account` b ON a.`player_id` = b.`player_id`
        WHERE a.`type` = 1 AND b.`type` = 2
        <if test="serverId !=null ">
            AND a.`server_id` = #{serverId}
        </if>
        GROUP BY a.`player_id`
    </select>
</mapper>