<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.player.mapper.PlayerMapper">

    <!-- 玩家日志查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.player.entity.Player">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="sex" property="sex"/>
        <result column="open_music" property="openMusic"/>
        <result column="open_sound" property="openSound"/>
        <result column="level" property="level"/>
        <result column="realm" property="realm"/>
        <result column="skip_cartoon" property="skipCartoon"/>
        <result column="backpack_size" property="backpackSize"/>
        <result column="backpack_level" property="backpackLevel"/>
        <result column="practice_value" property="practiceValue"/>
        <result column="practice_year" property="practiceYear"/>
        <result column="combat_power" property="combatPower"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="race" property="race"/>
        <result column="practice_state" property="practiceState"/>
        <result column="success_rate" property="successRate"/>
        <result column="settle_time" property="settleTime"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_time" property="loginTime"/>
        <result column="logout_time" property="logoutTime"/>
        <result column="level_update_time" property="levelUpdateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 玩家日志查询映射结果 -->
    <resultMap id="PlayerLogResultMap" type="org.jeecg.modules.player.entity.PlayerBehavior">
        <id column="id" property="id"/>
        <result column="server_id" property="serverId"/>
        <result column="player_id" property="playerId"/>
        <result column="type" property="type"/>
        <result column="value" property="value"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <select id="queryForList" resultMap="BaseResultMap" parameterType="org.jeecg.modules.player.entity.PlayerDTO">
        SELECT
        id,
        account,
        nickname,
        level,
        backpack_size,
        practice_value,
        practice_year,
        combat_power,
        create_time,
        login_time,
        login_ip
        FROM
        player
        <where>
            <if test="playerId != null">
                id = #{playerId}
            </if>
            <if test="nickName != null">
                AND nickname = #{nickName}
            </if>
            <if test="createDateBegin != null">
                AND create_time >= #{createDateBegin}
            </if>
            <if test="createDateEnd !=null">
                AND create_time &lt;= #{createDateEnd}
            </if>
            <if test="loginDateBegin !=null">
                AND login_time >= #{loginDateBegin}
            </if>
            <if test="loginDateEnd !=null">
                AND login_time &lt;= #{loginDateEnd}
            </if>
            <if test="levelBegin != null">
                AND level >= #{levelBegin}
            </if>
            <if test="levelEnd != null">
                AND level &lt;= #{levelEnd}
            </if>
        </where>
    </select>

    <select id="queryPlayerBehavior" resultMap="PlayerLogResultMap">
        SELECT
        player_id,
        server_id,
        type,
        value,
        create_date
        FROM
        ${logTable}
        <where>
            <if test="playerId != null ">
                AND player_id = #{playerId}
            </if>
            <if test="serverId != 0">
                AND server_id = #{serverId}
            </if>
            <if test="rangeDateBeginTime != null">
                AND create_date >= #{rangeDateBeginTime}
            </if>
            <if test="rangeDateEndTime !=null">
                AND create_date &lt;= #{rangeDateEndTime}
            </if>
        </where>
    </select>

</mapper>